<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mugisha.Kayishema - Portfolio</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&display=swap" rel="stylesheet">
</head>
<body>

    <div class="header-nav">
        <a href="{{ url_for('home') }}" class="logo-link">
            <div class="logo">
                <img src="{{ url_for('static', filename='images/logo.png') }}" alt="Logo" class="logo-img">
                <h3>Mugisha</h3>
            </div>
        </a>
        
        <div class="nav desktop-only">
            <nav>
                <ul>
                    <li><a href="{{ url_for('home') }}"><span class="hash">#</span>home</a></li>
                    <li><a href="{{ url_for('projects') }}"><span class="hash">#</span>works</a></li>
                    <li><a href="{{ url_for('about') }}"><span class="hash">#</span>about-me</a></li>
                    <li><a href="{{ url_for('contact') }}"><span class="hash">#</span>contacts</a></li>
                    <li><a href="{{ url_for('home') }}">EN <span class="hash">v</span></a></li>
                </ul>
            </nav>
        </div>

        <div class="burger-icon" onclick="toggleMenu()">
            <div class="line"></div>
            <div class="line"></div>
        </div>
    </div>

    <div class="mobile-menu" id="mobileMenu">
        <div class="mobile-header">
            <div class="logo">
                <img src="logo.png" alt="Logo">
                <h3>Kayishema</h3>
            </div>
            <div class="close-icon" onclick="toggleMenu()">X</div>
        </div>
        <ul class="mobile-links">
            <li><a href="{{ url_for('home') }}"><span class="hash">#</span>home</a></li>
            <li><a href="{{ url_for('projects') }}"><span class="hash">#</span>works</a></li>
            <li><a href="{{ url_for('about') }}"><span class="hash">#</span>about-me</a></li>
            <li><a href="{{ url_for('contact') }}"><span class="hash">#</span>contacts</a></li>
        </ul>
    </div>

    <div class="content-1" id="home">
        <div class="text-content hidden-element">
            <h1>Kayishema is a <br>
                <span class="a type-text"></span><span class="cursor-blink">|</span>
            </h1>
            <p class="delay-200">He fall in love with programming He create digital experiences that <br> meet creativity</p>
            <a href="{{ url_for('contact') }}"><button class="delay-300">Contact me!!</button></a>
        </div>
        
        <div class="image-content hidden-element delay-200">
            <div class="flipper-container">
                <div class="flipper-inner" id="profileFlipper">
                    <div class="flipper-front">
                        <img src="{{ url_for('static', filename='images/mugisha.png') }}" alt="Kayishema_profile">
                    </div>
                    <div class="flipper-back">
                        <img src="https://images.unsplash.com/photo-1555066931-4365d14bab8c?q=80&w=1000&auto=format&fit=crop" alt="Hacker Mode" class="hacker-img">
                    </div>
                </div>
            </div>

            <div class="b b-container">
                <div class="c"></div>
                <p>Currently working on <span class="bold">Motivexa_Project</span></p>
            </div>
        </div>
    </div>

    <div class="quote-container hidden-element">
        <div class="quote">
            <div class="quote-mark">“</div>
            <p> Data it is not like what it looks like. Data is what makes organisations perform better and make logical decisions.</p>
            <div class="quote-mark-end">”</div>
        </div>
        <div class="d">
            <p>- </p>
        </div>
    </div>

    <div class="main-container hidden-element" id="works">
        <div class="gap">
            <div class="pro">
                <h2><span class="hash">#</span>projects</h2>
                <div class="linee"></div>
            </div>
            <div class ="view-all">
                <a href="{{ url_for('projects') }}">View all ~~></a>
            </div>
        </div>

        <div class="projects">
            <div class="project-1 impact-project hover-card">
                <img src="{{ url_for('static', filename='images/mpact.png') }}" alt="Mpact Project">
                <div class="line-1"><p>HTML CSS JavaScript Python Flask Gemini API</p></div>
                <div class="card-body">
                    <span class="span-1"><h2>Mpact</h2></span>
                    <p>Screen Different candidate At with less time and Cost.👁️</p>
                    <div class="card-buttons">
                        <a href="mpact.up.railway.app" target="_blank"><button class="two">Live <~></button></a>
                        <a href="https://github.com/principiecyupe/mpact" target="_blank"><button class="second">Source code >=</button></a>
                        <p>Every score is explainable. Every recommendation is reasoned. Humans stay in control.🤷‍♂️</p>
                    </div>
                </div>
            </div>
            <div class="project-1 hover-card">
                <img src="{{ url_for('static', filename='images/p3.png') }}" alt="Opportunity Tracker">
                <div class="line-1"><p>React TailwindCss Firebase</p></div>
                <div class="card-body">
                    <span class="span-1"><h2>Opportunity Tracker</h2></span>
                    <p>Stay on track with your dreams</p>
                    <div class="card-buttons">
                        <a href="https://opportunity-tracker.principie.tech" target="_blank"><button class="two">Live <~></button></a>
                    </div>
                </div>
            </div>
            <div class="project-2 hover-card">
                <img src="{{ url_for('static', filename='images/p2.png') }}" alt="E-vura">
                <div class="line-2"><p>HTML CSS Python Flask</p></div>
                <div class="card-body">
                    <span class="span-1"><h2>E-vura</h2></span>
                    <p>Complete healthcare platform that enables you to record medical records.</p>
                    <div class="card-buttons">
                        <a href="https://e-vura.onrender.com/" target="_blank"><button class="two">Live <~></button></a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="main-container hidden-element" id="skills">
        <div class="section-title">
            <h2><span class="hash">#</span>skills</h2>
            <div class="linee-short"></div>
        </div>
        <div class="skills-container">
            <div class="skills-left-shapes">
                 <div class="shape-box"></div>
                <div class="shape-dots">.....<br>.....<br>.....</div>
            </div>
            <div class="skills-right">
                <div class="skill-col">
                    <div class="skill-box hover-card"><div class="skill-header">Languages</div><div class="skill-list">Python JavaScript C++</div></div>
                </div>
                <div class="skill-col">
                    <div class="skill-box hover-card"><div class="skill-header">Databases</div><div class="skill-list">Mysql  Postgresql</div></div>
                </div>
                <div class="skill-col">
                    <div class="skill-box hover-card"><div class="skill-header">Tools</div><div class="skill-list">Figma VS Code Linux Git</div></div>
                </div>
            </div>
        </div>
    </div>

    <div class="main-container hidden-element" id="about-me">
        <div class="section-title">
            <h2><span class="hash">#</span>about-me</h2>
            <div class="linee-short"></div>
        </div>
        <div class="about-container">
            <div class="about-text">
                <p>Hello, I'm Kayishema!</p>
                <br>
                <p>I`m aspiring Data scientist and Backend Engineer.I love to learn new technologies and frameworks. I have a passion for creating beautiful and functional websites that provide an excellent user experience. I am always looking for new challenges and opportunities to grow as a developer and  data scientist at all✍️</p>
                <br>
                <button class="read-more" onclick="window.location.href='{{ url_for('about') }}'">Read more -></button>
            </div>
            <div class="about-image">
                 <img src="{{ url_for('static', filename='images/mugisha.png') }}" alt="Kayishema"> 
            </div>
        </div>
    </div>

    <div class="footer-line"></div>
    <div class="footer">
        <div class="footer-left">
            <div class="footer-logo">
                <img src="{{ url_for('static', filename='images/logo.png') }}" width="16px"> <span>Kayishema</span> <span class="email-text">kayishemamugisha@gmail.com</span>
            </div>
            <p>Back-end Developer and Aspiring Data Scientist</p>
        </div>
        <div class="footer-right">
            <h3>Media</h3>
            <div class="socials">
                <a href="https://github.com/mugishakayishema"><img src="{{ url_for('static', filename='images/github.png') }}" alt="gh"></a>
                <a href="https://instagram.com/mugishakayishema"><img src="{{ url_for('static', filename='images/instagram.png') }}" alt="fg"></a>
                <a href="https://linkedin.com/in/kayishema-mugisha-4b95043a2"><img src="{{ url_for('static', filename='images/linkedin.png') }}" alt="dc"></a>
            </div>
        </div>
    </div>
    <div class="copyright">
        <p>© Copyright 2026. Made by Kayishema😴</p>
    </div>

    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>